* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #FAFAFA;
  font-family: 'Arimo', sans-serif;

}
.profile-pic {
  width: 70px;
  border-radius: 70px;
  display: inline-block;
}

.profile-pic-image {
  background: linear-gradient(to right, #EE9E5A, #B93F8B);
  border-radius: 70px;
  padding: 3px;
  width: 80px;
  display: inline-block;
}


.username {
  display: inline-block;
  font-size: 18px;
  line-height: -200px;
}

.liked {
  width: 200px;
  height: auto;
}


.button {
  color: #5BCDB3;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
p {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
a {
  color: inherit;
}
