.posts {
  display: inline-block;
  margin-top: 10px;

}

.card-image {
  margin: 0 auto 10px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.post-image {
  height: 500px;
  box-shadow: none;
  border: 1px solid #B93F8B;
}

.icon {
  background-color: white;
  border: none;
  width: 35px;
}
.icon:focus {
  outline: none;
}

.com-pics {
  padding: 10px;
}

.caption {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.card-content-post {
  border: 1px solid #B93F8B;
  padding: 10px;

}
.com-post {
  border: 1px solid #B93F8B;

}
