.users {
  display: inline-block;
}
.liked {
  max-height: 130px;
}
.disliked {
  max-height: 130px;
}
.sub {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }

.box {
    box-shadow: none;
    border: 1px solid #E6E6E6;
  }
