.users {
  display: inline-block;
}
.liked {
  max-height: 130px;
}
.disliked {
  max-height: 130px;
}
.sub {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }



.follow-button {
  background-color: #B93F8B;
  color: white;
  border: 1px solid #B93F8B;
  margin-top: 30px;
}

.tile-box {
  box-shadow: none;
  border: 1px solid #E6E6E6;
}
