.registration-form {
  width: 300px;
  background-color: white;
  border: 1px solid #E6E6E6;
  margin:  800px auto 40px;
  padding: 10px;
  padding-top: 80px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
#sign-up {
  margin-top: 50vh;
  margin-left: 47vw;
}

main {
  height: 100%;
  background-color: #FAFAFA;
  font-family: "Nunito", sans-serif;
}

.add {
  border: 1px solid #5BCDB3;
}


.submit {
  margin-left: 16px;
  border-color: white;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.already-have-account {
  text-align: center;
}
