.registration-form {
  width: 300px;
  background-color: white;
  border: 1px solid #E6E6E6;
  margin:  80px auto 40px;
  padding: 10px;
  padding-top: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.main-button {
  display: block;
  margin: 10px auto;
  background-color: #B93F8B;
  color: white;
  border: 1px solid #B93F8B;
}

main {
  height: 100%;
  background-color: #FAFAFA;
  font-family: "Nunito", sans-serif;
}

.add {
  border: 1px solid #5BCDB3;
}


.submit {
  margin-left: 16px;
  background-color: #B93F8B;
  color: white;
  border: 1px solid #B93F8B;
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.already-have-account {
  text-align: center;
}

.logo-form {
  margin-bottom: 15px;
  height: 70px;
  width: auto;
}
.blurb {
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}
.h1-reg {
  margin-top: 10px;
  margin-bottom: 10px!important;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}

.unsta-rev {
  margin-top: 30px;
  margin-bottom: 30px!important;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}


.box {
  border-style: none;
  border: none!important;
  background-color: inherit;
}
.testimonials {
  margin-top: 30px;
  background-color: grey;
}
.reviews {
  color: white;
}

.review-box {
  box-shadow: none;
}
