aside {
  width: 200px;
}
.is-sidebar-menu {
  min-height: calc(100vh - .75rem );
  max-height: calc(100vh - .75rem );
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 200px;
  margin: 0;
  .card {
    width: 200px;
  .card-image {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  }
}


.column {
  overflow-y: auto;
}
