.tv {
  display: block;
  height: 100%;
  left: 8%;
  position: absolute;
  top: 21%;
  width: 100%;
}

.tv-background {
  width: 100vw;
  height: 100vh;
  background-image: url('http://pngimg.com/uploads/tv/tv_PNG39242.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10vh;

}
